@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: "Oxigene";
  src: url("/fonts/OXYGENE1.TTF") format("truetype");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  padding: 0;
  margin: 0 0 0 0;
}
body {
  color: floralwhite;
}
.hero {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  background: #0009;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #0009;
}
video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  z-index: 10;
  font-family: "Oxigene";
}
.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 30px #fff6;
}
.text-first {
  background: linear-gradient(greenyellow, green);
  -webkit-background-clip: text;
  color: transparent;
}
.text {
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  color: transparent;
}
.frase {
  text-align: center;
  color: #0af;
  font-weight: bold;
  text-shadow: 0 0 0px #0000;
  background: linear-gradient(blue, cyan);
  -webkit-background-clip: text;
  color: transparent;
}
.content {
  height: 200vh;
  background: #103;
  width: 100%;
}
.item-hero1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.item-hero1 img {
  height: 64px;
  width: 64px;
}
.item-hero1 img:nth-child(1) {
  transform: translate(30px, 60px) rotate(10deg);
  filter: drop-shadow(0px 0px 20px blue);
}
.item-hero1 img:nth-child(2) {
  transform: translate(50vw, 120px) rotate(-40deg);
  filter: drop-shadow(0px 0px 20px blue);
}
.container {
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 70px 70px;
}
.new-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kanit";
}
.new-content h2 {
  font-size: 2rem;
}
.new-content img {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  margin: 0.3em 0em;
  object-fit: cover;
  box-shadow: 0px 0px 30px #0af3;
}
.new-content-text {
  text-align: start;
  padding: 1em 3em;
  text-wrap: pretty;
}
.new-content-list {
  text-decoration: none;
  list-style: square;
  padding: 0.3em 3em;
}
.what-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.what-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
