@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=Rubik+Glitch&display=swap");
@font-face {
  font-family: "Oxigene";
  src: url("/fonts/OXYGENE1.TTF") format("truetype");
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  padding: 0;
  margin: 0 0 0 0;
}
body {
  color: floralwhite;
}
.hero {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  background: #0009;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #0009;
}
video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.hero-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  z-index: 10;
  font-family: "Oxigene";
}
.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: lighter;
  color: #fff;
  text-shadow: 0 0 30px #fff6;
}
.text-first {
  background: linear-gradient(greenyellow, green);
  -webkit-background-clip: text;
  color: transparent;
}
.text {
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
  color: transparent;
}
.frase {
  text-align: center;
  color: #0af;
  font-weight: bold;
  text-shadow: 0 0 0px #0000;
  background: linear-gradient(blue, cyan);
  -webkit-background-clip: text;
  color: transparent;
}
.content {
  height: 200vh;
  background: #103;
  width: 100%;
}
